<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="addproduct" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">price</label>
                    <input type="number" name="price" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">quantity</label>
                    <input type="number" name="quantity" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">discount</label>
                    <input type="number" name="discount" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">category</label>
                    <select name="category" id="5"class="form-control">
                        <option value="electronic">electronic</option>
                        <option value="grocery">grocery</option>
                        <option value="machine">Machine</option>
                        <option value="others">Others</option>
                    </select>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">final price</label>
                    <input type="text" name="finalprice" class="form-control" id="exampleInputEmail6" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">image</label>
                    <input type="file" name="image" class="form-control" id="exampleInputEmail7" aria-describedby="emailHelp">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Description</label>
                    <textarea name="description" id=""  class="form-control"></textarea>
                  </div>
               
                <button type="submit" class="btn btn-primary w-100">Add</button>
              </form>
        </div>
        
      </div>
    </div>
  </div>